.index {
    background-color:#1abc9c;
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 10vw 20vw 20vw 10vw 20vw;
    grid-template-rows: 50vh 5vh 15vh 10vh 20vh;
}

.AskQuestion {
    background-color:#1abc9c;
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 10vw 20vw 20vw 10vw 20vw;
    grid-template-rows: 50vh 5vh 15vh 10vh 20vh;
}

.AnswerQuestion {
    background-color:#1abc9c;
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 10vw 20vw 20vw 10vw 20vw;
    grid-template-rows: 50vh 5vh 15vh 10vh 20vh;
}

.Thanks {
    background-color:#1abc9c;
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 10vw 20vw 20vw 10vw 20vw;
    grid-template-rows: 50vh 5vh 15vh 10vh 20vh;
}

.Results {
    background-color:#1abc9c;
    text-align: center;
    display: grid;
    grid-template-columns: 20vw 10vw 20vw 20vw 10vw 20vw;
    grid-template-rows: 50vh 5vh 15vh 10vh 20vh;
}

.TitleHeader {
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 8vw;
    text-shadow: 3px 3px black;
    justify-content: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 6;
}

.AskQuestionTitle {
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 5vw;
    text-shadow: 3px 3px black;
    justify-content: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 6;
}

.AnswerQuestionTitle {
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 5vw;
    text-shadow: 3px 3px black;
    justify-content: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 6;
}

.ResultsTitle {
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 5vw;
    text-shadow: 3px 3px black;
    justify-content: center;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 2 / 6;
}

.Description {
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 3vw;
    text-shadow: 3px 3px black;
    /*align-self: center;*/
    grid-row: 2 / 4;
    grid-column: 2 / 6;
}

.LoginButton {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    font-size: 20px;
}

.SignupButton {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    font-size: 20px;
}

.AskQuestionsButton {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    font-size: 20px;
    min-width: 30%;
    min-height: 30%;
}

.AnswerQuestionsButton {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.NoButton {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.YesButton {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.AskQuestionInput {
    border-radius: 10px;
    grid-row: 3 / 4;
    grid-column: 3 / 5;
    height: 80%;
    width: 90%;
    align-self: center;
    justify-self: center;
    font-size: 20px;
}

.DisplayNameInput {
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    height: 80%;
    width: 90%;
    align-self: center;
    justify-self: center;
    font-size: 20px;
}

.BackButton {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    height: 65%;
    width: 80%;
    border-radius: 12px;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    min-width: 30%;
    min-height: 30%;
}

.FinalCreate {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    border-radius: 12px;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    min-width: 30%;
    min-height: 30%;
}

.NextButton {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.NoLabel {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.YesLabel {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.QuestionLabel {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    height: 65%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    min-width: 30%;
    min-height: 30%;
    font-size: 20px;
}

.UserLabel {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
